<div class="container">
    <h2><%= @user.nickname %></h1>
    <p><%= link_to image_tag(@user.avatar.url , alt: @user.nickname), user_path(@user) %></p>
    <h4>自分のプロジェクト一覧</h4>
    <%= render 'projects/list' , projects: @projects %>
</div>
