<div class="jumbotron">
    <div class="container">
      <h1>Zadankai</h1>
      <p>Have a fun! Have a good conversation!!!</p>
      <% if user_signed_in?  %>
        <p><%= link_to "プロジェクトをはじめるよう！", projects_readyfor_path, class: "btn btn-large btn-primary" %></p>
      <% else %>
        <p><%= link_to "新規会員登録する", new_user_registration_path, class: "post btn btn-large btn-primary" %></p>
      <% end %>
    </div><!-- /.container -->
</div><!-- /.jumbotron -->
<div class="container">
    <div class="page-header">
      <h1>ブランド</h1>
    </div>
    <p>ココにサイトの文章が入ります。</p>
</div><!-- /.container -->