<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <h1 class="logo">
            <%= link_to "Zadankai", root_path, class: "navbar-brand" %>
        </h1>
    </div>
  </div>
</nav>